

.lead__button_transparent {
    background-image: url(../../../../images/button_learn_more.svg);
}

@media screen and (pointer: fine) {
    .lead__button_transparent:hover {
        transform: scale(1.01);
        opacity: 0.7;
    }
    
}
