

.lead__button_transparent {
    background-image: url(../../../../images/button_learn_more.svg);
}

@media screen and (min-width: 900px) {
    .lead__button_transparent:hover {
        background-color: black;
        opacity: 0.9;
    }
    
}
