/*
* {
  border: 1px solid salmon;
}
*/

.page{
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
