
.lead__photo {
    grid-area: photo-1;
    object-fit: contain;
    width: 100%;
}


@media screen and (max-width: 1024px) {
    .lead__photo {
        object-fit: fill;
        height: 100%;
    }
}


@media screen and (max-width: 605px) {
    .lead__photo {
        height: unset;
    }
}