.footer__social-media {
  display: flex;
  flex-direction: row;
  margin: 55px auto 0;
  width: 296px;
  padding-left: 0;
  justify-content: space-between;
}
  
@media screen and (max-width: 900px) {
  .footer__social-media {
    max-width: 40px;
    margin: 0;
    flex-direction: column;
  }
}