.info-cards__card-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  transition: opacity 1s ease;
  text-decoration: none;
  margin: 0 0 24px 24px;
}

.info-cards__card-link:hover {
  opacity: 0.65;
}

@media screen and (max-width: 425px) {
  .info-cards__card-link {
  }
}
