.info-cards__card{
  background-color: #FAFAFA;
  transition: ease 0.5s;
  /*
  display: grid;
  grid-template-rows: 270px 166px;
*/
}
.info-cards__card:hover{
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px #f6f6f6;
  transform: scale(1.01);

}
