
.header__button {
    background-image: url(../../../images/button_gift_finder.svg);
    width: 150px;
    height: 44px;
    margin-right: 34px;
    opacity: 1;
    border-radius: 5px;
    transition: all .3s ease-in-out;

}

@media screen and (pointer: fine) {
    .header__button:hover {
        /* background-color: black; */
        transform: scale(1.01);
        opacity: 0.7;
        transition: all .3s ease-in;
    }    
}

@media screen and (max-width: 1024px) {
    .header__button {
        margin-right: 17px;
    }
}


@media screen and (max-width: 500px) {
    .header__button {
        margin-right: 0;
    }
}

