.footer__icon {
  max-width: 40px;
  transition: opacity 1s ease;
}

@media screen and (pointer: fine) {
  .footer__icon:hover {
    opacity: 0.65;
 } 
}  

@media screen and (max-width: 375px) {
  .footer__icon {
    max-width: 35px;
  }
}