@import url("../vendor/normalize.css");
@import url("../fonts/font.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/comments/comments.css");
@import url("../blocks/footer/footer.css");
