.header__list {
    margin-right: 31px;
}


.header__list:last-of-type {
    margin-right: 0;
}


@media screen and (max-width: 768px) {
    .header__list {
        margin-right: 15px;

    }
}

@media screen and (max-width: 500px) {
    .header__list {
        margin-right: 0;
        margin-bottom: 16px;

    }
}
