
.lead__content-paragraph {
    font-size: 20px;
    line-height: 140.62%;
    font-weight: normal;
    max-width: 433px;
    margin-top: 27px;
    margin-bottom: 45px;
}


@media screen and (max-width: 1024px) {
    .lead__content-paragraph {
        margin-top: 20px;
        margin-bottom: 34px;
        max-width: 400px;
    }
}


@media screen and (max-width: 768px) {
    .lead__content-paragraph {
        font-size: 18px;
        line-height: 125%;
        max-width: 350px;
    }
}